@import "./variables.module.scss";

.container {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px 15px;
  font-size: 0.9rem;
  color: $primary-color;
  background-color: $info-color;
  border-radius: 9999px;
  .text {
    margin-left: 7px;
  }
}
