.commitmentContainer {
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
  text-align: left;
  .pictoContainer {
    flex: 0 0 35px;
    margin-right: 20px;
  }
  h5 {
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 500;
  }
  p {
    margin-bottom: 40px;
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

@media (max-width: 900px) {
  .commitmentContainer {
    h5 {
      font-size: 1.2rem;
    }
    p {
      margin-bottom: 20px;
      font-size: 1rem;
    }
  }
}
