@import "./variables.module.scss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

body.overflowYHidden {
  overflow-y: hidden; // Use when displaying modal
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-size: inherit;
  font-weight: 500;
}

button {
  padding: 7px 17px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 100px;
  color: #ffffff;
  background: linear-gradient(
    0.25turn,
    $secondary-color,
    $secondary-color-light
  );
  cursor: pointer;
}

#services,
#organisation,
#commitments,
#questions,
#about {
  scroll-margin-top: 81px; // Header height
  // scroll-snap-margin-top: 81px; // Header height + Safari & iOS fix
}

.contactOverlay.active {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Black background with opacity */
  z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
}
