@import "./variables.module.scss";

$maxWidth: 1200px;

.container {
  position: relative;
}

// HEADLINES
.headlinesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $maxWidth;
  margin: 200px auto 120px auto; // Add 80px to top because of fixed position header
  h1 {
    margin: 0;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.3;
  }
  h2 {
    margin: 30px 0 50px 0;
    font-size: 1.3rem;
    font-weight: 300;
  }
  button {
    font-size: 1.1rem;
    padding: 10px 30px;
  }
  .headlinesScreenshotWrapper {
    margin-left: 70px;
    flex: 0 0 550px;
    perspective: 550px;
  }
  .headlinesScreenshotInner {
    transform: rotateY(-10deg);
  }
}

// SHARED
.sectionContainer {
  padding: 80px 0;
  text-align: center;
}

.wrapper {
  margin: 60px auto 0 auto;
}

.title {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.subTitle {
  width: 60%;
  margin: 0 auto;
  font-size: 1.1rem;
  text-align: center;
}

// SERVICES
.servicesContainer {
  background-color: $primary-color-light;
  .servicesWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: $maxWidth;
  }
}

// SERVICE
.serviceContainer {
  height: calc(100vh - 174px); // 95 + 79 (heights of buttons + header)
  padding: 30px 50px;
  overflow: scroll;
  h4,
  ul,
  p {
    margin: 20px 0;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.pictoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  figure {
    width: 120px;
    margin-right: 20px;
  }
  .pictoXs {
    width: 90px;
  }
}

// ORGANISATION
.organisationsContainer {
  background: linear-gradient(0.25turn, $primary-color, $primary-color-medium);
  .title,
  .subTitle {
    color: #ffffff;
  }
  .organisationsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: $maxWidth;
  }
}

// QUESTIONS
.questionsContainer {
  .questionsWrapper {
    max-width: 950px;
  }
  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    p {
      margin-right: 20px;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}

// COMMITMENTS
.commitmentsContainer {
  background-color: $primary-color-light;
  .commitmentsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: $maxWidth;
    .cta {
      flex: 0 0 550px;
      margin-left: 50px;
      button {
        margin-top: 30px;
      }
    }
  }
}

// ABOUT
.aboutContainer {
  background: linear-gradient(0.25turn, $primary-color, $primary-color-medium);
  .title,
  .subTitle {
    color: #ffffff;
  }
  .emojiContainer {
    width: 160px;
    height: 160px;
    margin: 60px auto 30px auto;
    border-radius: 1000px;
    background-color: #ffffff;
  }
  p {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 30px;
    color: #ffffff;
  }
  button {
    margin-top: 60px;
    background: #ffffff;
    color: #000000;
  }
}
