@import "./variables.module.scss";

// HEADLINES
.headlinesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-width;
  margin-top: calc(80px + $header-margin);
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
  padding: $container-padding;
  h1 {
    margin: 0;
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 3.5rem;
  }
  h2 {
    margin: 30px 0 50px 0;
    font-size: 1.4rem;
    font-weight: 300;
  }
  button {
    font-size: $large-button-fs;
    padding: $large-button-padding;
    box-shadow: $box-shadow;
  }
  .stackContainer {
    margin-left: 70px;
    flex: 0 0 500px;
  }
}

@media (max-width: 1300px) {
  .headlinesContainer {
    padding: 0 100px;
    h1 {
      font-size: 2.2rem;
      line-height: 2.9rem;
    }
    h2 {
      font-size: 1.1rem;
    }
    .stackContainer {
      flex: 0 0 400px;
    }
  }
}

@media (max-width: 1060px) {
  .headlinesContainer {
    margin-top: calc(60px + $header-margin);
    margin-bottom: 60px;
    .stackContainer {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .headlinesContainer {
    padding: $container-padding;
    h1 {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }
}

// SHARED
.sectionContainer {
  padding: 80px 0;
  text-align: center;
}

.wrapper {
  margin: 60px auto 0 auto;
}

.title {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.subTitle {
  width: 60%;
  margin: 0 auto;
  font-size: 1.1rem;
  text-align: center;
}

@media (max-width: 1060px) {
  .title {
    font-size: 1.6rem;
  }
  .subTitle {
    width: 80%;
  }
}

// SERVICES
.servicesContainer {
  background-color: $primary-color-light;
  .servicesWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: $max-width;
    padding: $container-padding;
  }
}

@media (max-width: 1200px) {
  .servicesContainer {
    .servicesWrapper {
      display: block;
    }
  }
}

// SERVICE
.serviceContainer {
  height: calc(100vh - 174px); // 95 + 79 (heights of buttons + header)
  padding: 30px 50px;
  overflow: scroll;
  ul,
  p {
    margin: 20px 0;
  }
  ul {
    line-height: 1.7rem;
  }
  h4 {
    margin: 30px 0 20px 0;
    font-size: 1.4rem;
    font-weight: 500;
  }
  h4:first-child {
    margin-top: 20px;
  }
  h5 {
    margin: 30px 0 20px 0;
    font-size: 1.2rem;
    font-weight: 300;
  }
}

.pictoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  figure {
    width: 120px;
    margin-right: 20px;
  }
  .pictoXs {
    width: 85px;
  }
}

// ORGANISATION
.organisationsContainer {
  background: linear-gradient(0.25turn, $primary-color, $primary-color-medium);
  .title,
  .subTitle {
    color: #ffffff;
  }
  .organisationsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: $max-width;
    padding: $container-padding;
  }
}

@media (max-width: 1250px) {
  .organisationsContainer {
    .organisationsWrapper {
      display: block;
    }
  }
}

// QUESTIONS
.questionsContainer {
  .questionsWrapper {
    max-width: 1000px;
    padding: $container-padding;
  }
  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    p {
      margin-right: 20px;
      font-size: 1.4rem;
      font-weight: 500;
    }
    button {
      padding: $large-button-padding;
      font-size: $large-button-fs;
      box-shadow: $box-shadow;
    }
  }
}

@media (max-width: 1250px) {
  .questionsContainer {
    .cta {
      display: block;
      p {
        margin-right: 0;
        padding: $container-padding;
      }
      button {
        margin: 20px auto 0 auto;
      }
    }
  }
}

// COMMITMENTS
.commitmentsContainer {
  background-color: $primary-color-light;
  .commitmentsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    padding: $container-padding;
    .cta {
      flex: 0 0 406px;
      margin-left: 70px;
      button {
        margin: 30px auto 0 auto;
        padding: $large-button-padding;
        font-size: $large-button-fs;
        box-shadow: $box-shadow;
      }
    }
  }
}

@media (max-width: 900px) {
  .commitmentsContainer {
    .commitmentsWrapper {
      display: block;
      .cta {
        margin-left: 0;
        figure {
          display: none;
        }
      }
    }
  }
}

// ABOUT
.aboutContainer {
  background: linear-gradient(0.25turn, $primary-color, $primary-color-medium);
  .title,
  .subTitle {
    color: #ffffff;
  }
  .emojiContainer {
    width: 160px;
    height: 160px;
    margin: 60px auto 30px auto;
    border-radius: 1000px;
    background-color: #ffffff;
  }
  p {
    max-width: 950px;
    margin: 0 auto;
    padding: $container-padding;
    color: #ffffff;
    font-size: 1.1rem;
    line-height: 1.9rem;
  }
  button {
    margin: 60px auto 0 auto;
    padding: $large-button-padding;
    font-size: $large-button-fs;
    background: #ffffff;
    color: #000000;
    box-shadow: $box-shadow;
  }
}
