@import "./variables.module.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $header-margin;
  min-height: calc(100vh - $header-margin);
  border-bottom: 1px solid #cccccc;
  .wrapper {
    max-width: 600px;
    padding: 30px;
    h1 {
      font-size: 2.2rem;
    }
    p {
      margin: 20px 0 30px 0;
      font-size: 1.2rem;
    }
    button {
      padding: $large-button-padding;
      font-size: $large-button-fs;
    }
  }
}
