@import "./variables.module.scss";

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 0;
  padding: 15px 20px;
  background-color: $info-color;
  border-radius: 10px;
  .pictoContainer {
    display: flex;
    flex: 0 0 40px;
  }
  .content {
    margin: 0 0 0 15px;
  }
}
