@import "./variables.module.scss";

.pageBackground {
  background: linear-gradient(0.25turn, $primary-color, #340ace);
}

.pageBackground::after {
  content: "";
  position: absolute;
  background-image: url("/img/landing.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: right;
  background-position-y: center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
  color: #ffffff;
  .arguments {
    flex-basis: 680px;
    margin-right: 50px;
    .logoContainer {
      display: inline-block;
      padding: 15px;
      margin-bottom: 50px;
      background-color: #ffffff;
      border-radius: 10px;
      .logo {
        display: flex;
        width: 160px;
      }
    }
    h1 {
      font-size: 2.6rem;
      font-weight: 500;
      span {
        font-weight: 900;
      }
    }
    ul {
      margin-top: 30px;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        list-style-type: none;
        font-size: 1.4rem;
        figure {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 25px;
          margin-right: 10px;
          padding: 4px;
          background-color: #ffffff;
          border-radius: 20px;
        }
      }
    }
  }
  .form {
    flex-basis: 400px;
    padding: 30px 40px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: $box-shadow;
    .formGroupContainer {
      margin: 25px 0 30px 0;
    }
    .formGroup {
      margin-bottom: 15px;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 600;
    }
    .subTitle {
      font-size: 1.2rem;
    }
    label,
    input {
      display: block;
    }
    label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 5px;
      font-weight: 400;
      .optional {
        margin-left: 7px;
        padding: 3px 7px;
        font-size: 0.7rem;
        font-weight: 400;
        color: $primary-color;
        background-color: $info-color;
        border-radius: 5px;
      }
    }
    input,
    button {
      width: 100%;
    }
    input {
      padding: 7px;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 300;
      border: 1px solid #aaaaaa;
      border-radius: 5px;
    }
    button {
      padding: $large-button-padding;
      font-size: $large-button-fs;
    }
    .inputError {
      border-color: $errorColor;
    }
    .textError {
      margin-top: 5px;
      color: $errorColor;
      font-size: 0.85rem;
      font-weight: 400;
    }
  }
}

footer {
  .legal {
    padding: 20px 30px;
    font-size: 0.9rem;
    color: #ffffff;
    text-align: right;
    span {
      cursor: pointer;
    }
  }
}

@media (max-width: 900px) {
  .pageBackground::after {
    opacity: 0;
  }
  .container {
    justify-content: center;
    .wrapper {
      margin-left: 0;
    }
  }
}

@media (max-width: 400px) {
  .container {
    .wrapper {
      .buttons {
        display: block;
        button {
          margin-right: 0px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
