@import "./variables.module.scss";

.container {
  margin-top: $header-margin;
  .pageTitle {
    background-color: $primary-color;
    padding: 20px 0;
    h1 {
      max-width: $max-width;
      margin: 0 auto;
      font-size: 1.8rem;
      font-weight: 600;
      color: #ffffff;
    }
  }
}
