@import "./variables.module.scss";

.container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
    z-index: 10;
  }
  .logo {
    display: flex;
    width: 180px;
    cursor: pointer;
    user-select: none;
  }
  .dot {
    margin-left: 5px;
    font-size: 3rem;
    line-height: 0;
    color: $primary-color;
  }
  .navigation {
    font-size: 1.15rem;
    ul {
      display: flex;
      align-items: center;
      margin: 0;
      li {
        display: inline-block;
        margin-left: 25px;
        list-style-type: none;
      }
    }
  }
  .menuBurgerIcon {
    display: none;
    cursor: pointer;
  }
}

.cta {
  font-weight: 300;
  background: $primary-color;
}

@media (max-width: 1200px) {
  .container {
    .navigation {
      display: none;
    }
    .menuBurgerIcon {
      display: flex;
    }
  }
}
