@import "./variables.module.scss";

.organisationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 570px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: $box-shadow;
  border-radius: 10px;
  .content {
    h4 {
      margin-bottom: 20px;
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
  .cta {
    margin-left: 30px;
    flex: 0 0 200px;
    figure {
      width: 200px;
    }
    button {
      width: 100%;
      margin-top: 20px;
    }
  }
}

@media (max-width: 1250px) {
  .organisationContainer {
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 700px) {
  .organisationContainer {
    display: block;
    width: 100%;
    .cta {
      margin-left: 0;
      figure {
        display: none;
      }
    }
  }
}
