@import "./variables.module.scss";

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  .closeService {
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
  }
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 50px;
  background-color: $primary-color;
  .pictoContainer {
    display: flex;
    width: 65px;
    margin-left: -7px;
  }
  h3 {
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
  }
}

@media (max-width: 700px) {
  .buttons {
    display: block;
    .closeService {
      text-align: right;
    }
    button {
      margin-top: 10px;
      margin-left: auto;
    }
  }
  .header {
    .pictoContainer {
      display: none;
    }
    h3 {
      margin-left: 0;
      font-size: 1.2rem;
    }
  }
}
