@import "./variables.module.scss";

.serviceContainer {
  width: 360px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: $box-shadow;
  border-radius: 10px;
  figure {
    width: 80px;
    margin: 0 auto;
  }
  h4 {
    margin: 20px;
    font-size: 1.3rem;
    font-weight: 500;
  }
  p {
    min-height: 125px;
    margin-bottom: 30px;
    font-size: 1rem;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .plusContainer {
      display: flex;
      width: 18px;
      margin-left: 7px;
    }
  }
}

@media (max-width: 1200px) {
  .serviceContainer {
    width: 560px;
    margin: 30px auto 0 auto;
    p {
      min-height: auto;
    }
  }
}

@media (max-width: 700px) {
  .serviceContainer {
    width: 100%;
  }
}
