// MAX-WIDTH
$max-width: 1260px;
$container-padding: 0 40px;

// HEADER MARGIN
$header-margin: 81px;

// BUTTON
$small-button-padding: 5px 15px;
$large-button-padding: 10px 30px;
$large-button-fs: 1.1rem;

// COLORS
$primary-color: #3845de;
$primary-color-medium: #5ea2d7;
$primary-color-light: #f8f7ff;

$secondary-color: #dc1e61;
$secondary-color-light: #ff6a48;

$info-color: #dbeaff;
